body, html {
    height: 100%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ul {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.main--page--wrapper {
    background: url("../../img/hero.png") center top no-repeat, url("../../img/bottom-pic.png") center bottom 307px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

.section {
    margin-bottom: 180px;
}

.section:last-child {
    margin-bottom: auto;
}

.section__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 51px;
    text-transform: uppercase;
}