.btn {
    background: #FF5400;
    border-radius: 35px;
    padding: 18px 53px;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.btn:hover {
    background: #ff3d00;
}

.btn--color--white {
    background: #fff;
    border: 2px solid #ff5500;
    color: #ff5500;
}

.btn--color--white:hover {
    background: #ff5500;
    color: #fff;
}
