.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown {
    position: relative;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.contacts__dropdown:hover .contacts__dropdown-menu {
    right: 0;
    opacity: 1;
}

.contacts__dropdown-menu {
    position: absolute;
    background: url("../../img/dropdown.png") no-repeat;
    padding: 22px 19px;
    top: 100%;
    right: -99999px;
    opacity: 0;
    transition: opacity .5s;
}

.contacts__dropdown-menu:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.contacts__dropdown-list {
    color: rgba(30, 31, 32, 1);
    font-weight: 600px;
    font-size: 13px;
    text-align: left;
}

.contacts__dropdown-item:first-child {
    font-weight: 700;
    margin-bottom: 1px;
}

.contacts__desc {
    font-size: 11px;
    color: rgba(154, 154, 154, 1);
    margin-bottom: 5px;
}