.inner-section {
    background: #17191c;
    color: #1a1b1e;
    padding: 77px 0 97px;
}

.inner-section--bg--grey {
    background: #f4f5f5;
}

.inner-section--partners {
    padding-bottom: 58px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 55px;
}

.inner-section__title--review {
    text-transform: uppercase;
    color: rgba(32, 32, 32, 1);
    font-size: 36px;
    font-weight: 800;
}

.inner-footer__container {
    padding: 40px 0;
}

.inner-footer {
    margin-top: auto;
}