.pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager__display {
    margin-right: 25px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item--active .pager__link {
    background: #ff5500;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    line-height: 32px;
}

.pager__link:hover {
    background: #ff5500;
    color: #fff;
}

.pager {
    padding-bottom: 90px;
}

.pager__item--active--services .pager__link {
    color: #fff;
    background: #ff5500;
}

.pager__list--services {
    color: #000;
}