.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 230px;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(100%);
    transition: .2s;
}

.partners__link:hover {
    filter: grayscale(0);
}

.partners__item {
    margin-right: 50px;
}