.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 200px;
    height: 130px;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.partners__item {
    margin-right: 110px;
}

.partners__item:nth-child(2n+2) {
	margin-right: 0;
}

.partners__item:nth-child(2) {
	padding-left: 60px;
	margin-right: 70px;
}

.partners__item:nth-child(6) {
	margin-right: 78px;
}

.partners__item:nth-child(7) {
	margin-right: 141px;
}
