.page-content--reviews {
    padding-bottom: 86px;
}

.reviews {
    column-count: 2;
    column-gap: 27px;
}

.reviews__item {
    margin-bottom: 17px;
}

.reviews__item:last-child {
    margin-bottom: 63px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #f4f5f5;
    border-radius: 5px;
}

.review__photo {
    margin-right: 20px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #2E77A4;
    margin-bottom: 14px;
}

.review__user:after {
    content: url("../../img/vk-blue.png");
    height: 30px;
    margin-left: 11px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 10px 25px;
    border-radius: 50px;
    background: #e7e7e7;
}

.tag--bg--orange {
    background: #f2d4c9;
}

.review__title {
    font-size: 30px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 13px;
}

.review__content-text {
    color: #818181;
    margin-bottom: 48px;
    line-height: 1.7;
}

.review__date {
    font-size: 14px;
    font-weight: 600;
    color: #1a1b1e;
}