.socials {
    margin-right: 74px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
	transition: background-position .3s;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--tg .socials__link {
    background: url("../../img/socials/socials-sprites.png") -122px -10px;
}

.socials__item--icon--tg .socials__link:hover {
    background: url("../../img/socials/socials-sprites.png") -122px -66px;
}

.socials__item--icon--vk .socials__link {
    background: url("../../img/socials/socials-sprites.png") -10px -122px;
}

.socials__item--icon--vk .socials__link:hover {
    background: url("../../img/socials/socials-sprites.png") -66px -122px;
}

.socials__item--icon--fb .socials__link {
    background: url("../../img/socials/socials-sprites.png") -10px -66px;
}

.socials__item--icon--fb .socials__link:hover {
    background: url("../../img/socials/socials-sprites.png") -66px -66px;
}

.socials__item--icon--in .socials__link {
    background: url("../../img/socials/socials-sprites.png") -10px -10px;
}

.socials__item--icon--in .socials__link:hover {
    background: url("../../img/socials/socials-sprites.png") -66px -10px;
}